// black
// white
// grey
// highlight
$base-color: #ffffff;
$primary-color: #2a303d;
$secondary-color: #f5f5f5;
$accent-color: #95f9dd;
$accent-color-2: #ffeae5;
$warning-color: #ef7e64;
$success-color: #23c6ab;