%btn{
  border: 1px solid $primary-color;
  cursor: pointer;
  width: 200px;
  text-align: center;
  @include base-font();
  font-size:0.875em;
  height:50px;
}

button, .btn{
  @extend %btn; // here we load the btn defaults
  background-color: $primary-color;
  color: $base-color;
  @include border-radius(2px);
  line-height: 50px;
  &:active, &:focus{
    outline: none;
  }
}

.btn-login{
  margin-top: 15px;
  max-width: 300px;
  width: 100%;
}
.register-btn{
  text-align: center;
  margin-top: 20px;
  font-size:0.9em;
}
.underline-disappear{
  @include underline-from-center-disappear();
  &:hover{
    opacity: 1;
  }
}
.btn-square{
  width: 30px;
  height: 30px;
  background-color: $primary-color;
  @include border-radius(2px);
}

.close {
  margin: 20px;
  position: absolute;
  right: 64px;
  top: 64px;
  width: 64px;
  height: 64px;
  opacity: 1;
  cursor: pointer;
}
.close:hover {
  opacity: 0.3;
}

.card-buttons{
  width: 100%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-around);
  .lnr{
    font-size: 1.5em;
    &.lnr-checkmark-circle{
      color: $success-color;
    }
    &.lnr-cross-circle{
      color: $warning-color;
    }
  }
}

.report-delete{
  font-size: 1.3em;
  cursor: pointer;
  color:  $warning-color;
}

.notifications{
  position: relative;
  .pending-reports-num{
    position: absolute;
    top: -8px;
    left: -6px;
    background-color: $warning-color;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 0.5em;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    color: $base-color;
  }
}

.link{
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    opacity: 0.7;
  }
}

.more-btn{
  margin-top: 3px;
  background-color: $secondary-color;
  //background-color: $accent-color;
  border: 1px solid darken($secondary-color,0.8);
  width: 32px;
  height: 18px;
  line-height: normal;
  position: relative;
  .circles-container{
    position: absolute;
    top:-3px;
    left:0;
    width: 30px;
    .circle{
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $primary-color;
      margin: 0 1px;
    }
  }
}

