.btn-square{
  width: 30px;
  height: 30px;
  background-color: $primary-color;
}

.close {
  margin: 20px;
  position: absolute;
  right: 64px;
  top: 64px;
  width: 64px;
  height: 64px;
  opacity: 1;
  cursor: pointer;
}
.close:hover {
  opacity: 0.3;
}
.close:before, .close:after {
  position: absolute;
  left: 30px;
  content: ' ';
  height: 66px;
  width: 1px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.card-buttons{
  width: 100%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-around);
  img{
    cursor: pointer;
  }
}

.report-delete{
  font-size: 1.3em;
  cursor: pointer;
  color:  $warning-color;
}