*{
  margin: 0;
  padding: 0;
}

body,html{
  width: 100vw;
  height: 100vh;
  font: normal 100% $base-font-family; /* default weight (normal) browser default size (16 px) */

  background-color: $secondary-color;
  overflow-x: hidden;
}

.top-space{
  margin-top: 80px;
}

.vertical-line-right{
  border-right:1px solid $primary-color;
}

.only-mobile{
  @include breakpoint(laptop){
    display: none;
  }
}

