*{
  margin: 0;
  padding: 0;
}

body,html{
  width: 100vw;
  height: 100vh;
  font: normal 100% $base-font-family; /* default weight (normal) browser default size (16 px) */

  background-color: $secondary-color;
}

.top-space{
  margin-top: 80px;
}

