#sidebar{
  background-color: rgba($primary-color, 0.9);
  width: $sidebar-width; // declared in base
  position: absolute;
  top:0;
  // left: -23vw;
  left: -$sidebar-width-small;
  height: 100%;
  color: $base-color;
  transition: 0.5s left;
  &.open{
    left:0;
  }
  header{
    width: 100%;
    background-color: rgba($primary-color, 0.7);
    height: $topbar-height;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    a{
      color: $base-color;
    }
  }
  .menu-item{
    margin: 0 20px;
    padding: 15px 0;
    color: $secondary-color;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 1px solid $primary-color;
    transition: 0.2s;
    &:hover{
      color: $accent-color;
      cursor: pointer;
      opacity: 0.8;
      .btn-square{
        .icon{
          color: $accent-color;
        }
      }
    }
    &.active{
      color: $accent-color;
      .btn-square{
        background-color: $accent-color;
        .icon{
          color: $primary-color;
        }
      }
    }
    .btn-square{
      .icon{
        color: $base-color;
        padding: 6px 0 0 6px;
      }
    }
  }
}