#topbar{
  position: fixed;
  top:0;
  left: 0;
  background-color: $base-color;
  height: $topbar-height;
  border-bottom: 1px solid $secondary-color;
  .wrapper{
    height: $topbar-height;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    .icons-right{
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);
      height: 100%;
      .notifications{
        margin-right: 20px;
      }
      .profile{
        border-radius: 50%;
        width: 22px;
        height: 22px;
        background-color: $primary-color;
        .lnr-user{
          font-size: 15px;
        }
      }
    }
    .lnr{
      font-size: 20px;
    }
  }
}
