#topbar{
  z-index: 800;
}
#sidebar{
  z-index: 900;
}

.wdw{
  z-index: 0;
  &.open{
    z-index: 200;
  }
}

.search-wdw{
  z-index: 1000;
}

#message{
  z-index: 900900900900900900900;
}

.login-wdw{
  z-index: 1000;
}